<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>测试</title>

    <link href="bootstrap.min.css" rel="stylesheet">

    <script src="jquery-2.0.3.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <!--bootbox依赖于bootstrap-->
    <script src="bootbox.min.js"></script>
</head>
<body>


    <!--bootbox的使用示例-->
    <script>
        bootbox.alert({
            message: "This is the small alert!",
            size: 'small'
        });
    </script>    

</body>
</html>