<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- 标题 钩子 -->
    <title>{% block title %}{% endblock %}</title>

    <!-- 匹配适用不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dashboard" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{% static 'assets/img/gcicon.png' %}" type="image/x-icon">

    <!-- Bootstrap Styles -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'assets/css/beyond.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />

    <script src="{% static 'assets/js/skins.min.js' %}"></script>

    <!-- css 钩子 -->
    {% block css %}{% endblock %}

</head>
<body>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loading-progress">
            <div class="rotator">
                <div class="rotator">
                    <div class="rotator colored">
                        <div class="rotator">
                            <div class="rotator colored">
                                <div class="rotator colored"></div>
                                <div class="rotator"></div>
                            </div>
                            <div class="rotator colored"></div>
                        </div>
                        <div class="rotator"></div>
                    </div>
                    <div class="rotator"></div>
                </div>
                <div class="rotator"></div>
            </div>
            <div class="rotator"></div>
        </div>
    </div>
    <!-- /Loading Container -->

    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small>
                            <img src="{% static 'assets/img/gclogo.png' %}" alt="" />
                        </small>
                    </a>
                </div>
                <!-- /Navbar Barnd -->

                <!-- Sidebar Collapse -->
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <!-- /Sidebar Collapse -->
            </div>
        </div>
    </div>
    <!-- /Navbar -->

    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input type="text" class="searchinput" />
                    <i class="searchicon fa fa-search"></i>
                    <div class="searchhelper">Search</div>
                </div>
                <!-- /Page Sidebar Header -->

                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                    <!-- Dashboard -->
                    <li class="active">
                        <a href="index.html">
                            <i class="menu-icon glyphicon glyphicon-home"></i>
                            <span class="menu-text"> Dashboard </span>
                        </a>
                    </li>
                    <!-- Widgets -->
                    <li>
                        <a href="widgets.html">
                            <i class="menu-icon fa fa-th"></i>
                            <span class="menu-text"> Widgets </span>
                        </a>
                    </li>
                    <!-- 日常监控 -->
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-desktop"></i>
                            <span class="menu-text"> 日常监控 </span>
                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="system.html">
                                    <span class="menu-text">系统监控</span>
                                </a>
                            </li>
                            <li>
                                <a href="process.html">
                                    <span class="menu-text">进程监控</span>
                                </a>
                            </li>
                            <li>
                                <a href="health.html">
                                    <span class="menu-text">健康度监控</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 系统配置 -->
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-bar-chart-o"></i>
                            <span class="menu-text"> 系统配置 </span>
                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="config_code.html">
                                    <span class="menu-text">代码配置</span>
                                </a>
                            </li>
                            <li>
                                <a href="config_params.html">
                                    <span class="menu-text">参数配置</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- 测试栏 -->
                    <li>
                        <a href="zhangh.html">
                            <i class="menu-icon glyphicon glyphicon-tasks"></i>
                            <span class="menu-text"> 测试 </span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 正文 钩子 -->
            {% block content %}{% endblock %}

        </div>

    </div>

    <!--Basic Scripts-->
    <script src="{% static 'assets/js/jquery-2.0.3.min.js' %}"></script>
    <!--<script src="{% static 'bootstrap/js/jquery-3.2.1.min.js' %}"></script>-->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/js/beyond.min.js' %}"></script>


    <!-- js 钩子 -->
    {% block js %}{% endblock %}

</body>
</html>