{% extends "base.html" %}
{% load staticfiles %}
{% block title %} 参数配置 {% endblock %}

{% block content %}
    <!-- Page Content 页面内容 -->
    <div class="page-content">
        <!-- Page Breadcrumb -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">参数配置</li>
            </ul>
        </div>
        <!-- /Page Breadcrumb -->

    </div>
{% endblock %}