<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <!-- 匹配适用不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dashboard" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

    <!-- Bootstrap Styles -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>

    <p1>{{ data }}</p1>

</body>
</html>