<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 匹配适用不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>首页</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
      <div>
          {% for item in data %}
          <p> {{ item }}</p>
          {% endfor %}
      </div>

</body>
</html>