{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Test {% endblock %}
{% block active5 %} class="active" {% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Demo</strong>
            </li>
        </ol>
    </div>

    <div>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="disabled"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>

    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> GreenCloud Company &copy; 2017-2018
        </div>
    </div>
{% endblock %}

