{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Test {% endblock %}
{% block active5 %} class="active" {% endblock %}

{% block content %}


    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> GreenCloud Company &copy; 2017-2018
        </div>
    </div>

    <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-1">
                    <p>aaa</p>
                </div>
                <div class="col-lg-2">
                    <p>bbb</p>
                </div>
            </div>
    </div>
{% endblock %}

