# -------------------------------------
# mode generated my.cnf
# -------------------------------------

[client]
port		= 3306
socket		= /var/lib/mysql/mysql.sock
#default-character-set=utf8

[mysqld]
back_log=4096
max_connect_errors=999999999
port		= 3306
socket		= /var/lib/mysql/mysql.sock
skip-external-locking
key_buffer_size=64M
bulk_insert_buffer_size=8M
max_allowed_packet=500M
table_open_cache=8192
table_definition_cache=2048
max_heap_table_size=64M
tmp_table_size=64M
read_buffer_size=3M
sort_buffer_size=16M
read_rnd_buffer_size=16M
join_buffer_size=1M
thread_cache_size=401
query_cache_size=32M
thread_concurrency=8
max_connections=400
max_user_connections=360
sql-mode=NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
skip-name-resolve
lower_case_table_names=1
character-set-server=utf8
default-storage-engine=INNODB
slow-query-log
log-queries-not-using-indexes
secure-file-priv=
long_query_time=3
symbolic-links=0

log-bin=mysql-bin
binlog_format=mixed
binlog_checksum=NONE
binlog_cache_size=16M
log_bin_trust_function_creators=1
server-id=1

datadir=/var/lib/mysql
innodb_file_per_table=0
innodb_file_format=Barracuda
innodb_data_file_path=ibdata1:74M:autoextend
innodb_log_file_size=1024M
innodb_buffer_pool_size=6106M
innodb_additional_mem_pool_size=20M
innodb_log_buffer_size=16M
innodb_flush_log_at_trx_commit=2
innodb_lock_wait_timeout=30
innodb_rollback_on_timeout=1
innodb_autoinc_lock_mode=2
wait_timeout=600

[mysqldump]
quick
max_allowed_packet=256M

[mysql]
no-auto-rehash

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit=20000


