# -------------------------------------
# mode generated my.cnf
# -------------------------------------

[client]
port		= 3306
socket		= /var/lib/mysql/mysql.sock
#default-character-set=utf8

[mysqld]
back_log=1024
max_connect_errors=1000000
port		= 3306
socket		= /var/lib/mysql/mysql.sock
skip-external-locking
key_buffer_size=4M
bulk_insert_buffer_size=4M
max_allowed_packet=500M
table_open_cache=8192
read_buffer_size=2M
sort_buffer_size=8M
read_rnd_buffer_size=8M
thread_cache_size=100
query_cache_size=32M
thread_concurrency=8
max_connections=100
sql-mode=NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
skip-name-resolve
lower_case_table_names=1
character-set-server=utf8
default-storage-engine=INNODB
symbolic-links=0

log-bin=mysql-bin
binlog_format=mixed
server-id=1

datadir=/var/lib/mysql
innodb_data_file_path=ibdata1:10M:autoextend
innodb_log_file_size=1024M
innodb_buffer_pool_size=200M
innodb_additional_mem_pool_size=20M
innodb_log_buffer_size=16M
innodb_flush_log_at_trx_commit=1
innodb_lock_wait_timeout=30
innodb_rollback_on_timeout=1
innodb_autoinc_lock_mode=2

[mysqldump]
quick
max_allowed_packet=256M

[mysql]
no-auto-rehash

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit=20000


